{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

<div class="row justify-content-center">
    <div class="col-4 bg-success p-3 mb-5">
        <h1 class="text-center mt-5">Успешно извршена нарачка!</h1>
        <div class="row justify-content-center">
            <a href="/" class="btn btn-white nazad text-white mt-3 mb-5 col-10">
                <b>Направи нова нарачка</b>
            </a>
        </div>
    </div>

</div>

{% endblock content %}
<!--<img src="{% static 'images/cart.jpg' %}" height="400px" width="400px">-->