<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OfficeEssential</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

</head>
<body>

<nav class="navbar navbar-expand-lg nav-div mb-5">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" height="50px" width="125px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Продукти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">За нас</a>
                </li>

            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Најави се</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    {% block content %}

    {% endblock content %}

</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 mt-5">
                <a href="#">
                    <h6 class="text-center text-white">
                        Навгација
                    </h6>
                </a>
                <a href="/">
                    <p class="text-center text-white mt-3">
                        Продукти
                    </p>
                </a>
                <a href="#">
                    <p class="text-center text-white mt-1">
                        За нас
                    </p>
                </a>
                <a href="/cart">
                    <p class="text-center text-white mt-1">
                        Кошничка
                    </p>
                </a>


            </div>


            <div class="col-6 mt-5">
                <a>
                    <h6 class="text-center text-white">
                        Контакт
                    </h6>
                </a>
                <a>
                    <p class="text-center text-white mt-3">
                        ул. Македонска Улица бр.1, Куманово
                    </p>
                </a>
                <a>
                    <p class="text-center text-white mt-1">
                        Телефон: +389 75 500 000
                    </p>
                </a>
                <a>
                    <p class="text-center text-white mt-1">
                        Е-пошта: office.essential@gmail.com
                    </p>
                </a>


            </div>
        </div>
        <div class="row">
        <hr class="text-white my-3"/>
            </div>

        <div class="row">
            <p class="text-center text-white mt-1">
                Copyright © 2023 Office Essential. Сите права задржани
            </p>
        </div>

    </div>
</footer>

</body>
</html>