{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div id="register-form" class="my-4 py-4 container px-4" style="background-color: #D9D9D9; border-radius: 10px">
        <h2 class="text-center mb-4" style="color:#4B6C8D">Регистрација</h2>
        <div class="row">
            <div class="col-12">
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <div class="row justify-content-center">
                        <button id="register_button" class="btn btn-dark text-white w-25"
                            style="background-color: #4B6C8D; height: 50px" type="submit" name="CreateUser"><b>Регистрација</b>
                    </button>
                    </div>

                </form>
            </div>
        </div>
{#        {% for error in form.errors %}#}
{#            <span class="badge text-bg-danger mt-3 py-2 px-4">{{ error }}</span>#}
{#        {% endfor %}#}
{#        <span class="badge text-bg-danger mt-3 py-2 px-4">{{ form.errors }}</span>#}
        {{ form.errors }}
        <div class="d-flex align-items-center justify-content-center mt-3">
            <a href="/login_page">Веќе си корисник?</a>
        </div>
    </div>


    <script>
        let form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Username';
        form_fields[2].placeholder = 'Email';
        form_fields[3].placeholder = 'Password';
        form_fields[4].placeholder = 'Confirm password';

        let error_messages = document.getElementsByClassName('errorlist')
        for (let error in error_messages){
            error_messages[error].className = ' badge text-bg-danger mt-3 py-2 px-4'
        }
    </script>
{% endblock content %}