body{
    background-color: #AAB4BF;
}
.nav-div{
    background: #6D7383;
}
ul .nav-item{
    font-weight: bold;
}
.card{
    background-color: #D9D9D9;
}
.card-text{
    font-weight: bold;
}
.card-body button{
    background-color: #6D7383 !important;
    color:#FFFFFF !important;

}

.pregledaj{
    padding-left: 25%;
}

footer{
    background-color: #6D7383; !important;
}

footer a{
    text-decoration: none;
}

footer hr{
    border: white solid 1px;
    opacity: 100;
}

.nazad{
    background-color: #6D7383;
}

.product-body{
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 5px;
}

.cart-product{
    background-color: #D9D9D9;
}

.forma-naracaj{
    background-color: #D9D9D9;
}
